@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

li {
  list-style: none;
}

.brand a {
  font-size: 700;
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
}

.primary-header {
  background-color: #f8e9a1;
}

.primary-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.primary-nav ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px !important;
}

.primary-nav ul li {
  padding: 15px 20px;
}

.hero-content,
.hero-content-inner {
  position: relative;
  height: 100%;
}

.hero-content-inner {
  z-index: 20;
}

/* .hero-content-inner:before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 31.42%, #000);
  content: '';
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
} */

.hero-section {
  height: 620px;
}

.hero-section-inner {
  height: 426px;
}

.search {
  position: absolute;
  height: 100%;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.search form {
  position: relative;
  display: flex;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.search form button {
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: 100%;
  background-color: #fff;
  border: 2px solid #ccc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-input {
  width: 100%;
  padding: 15px 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.search-input:focus {
  outline: none;
}

.d-center {
  justify-content: center !important;
}

.top-shelf {
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}

.top-shelf-content {
  display: flex;
  align-items: flex-end;
}

.user-profile-image {
  display: block;
}

.user-profile-info {
  margin-right: auto;
  margin-left: 40px;
}

.user-location {
  font-weight: 400;
}

.user-stats {
  display: flex;
}

.user-stats li {
  padding: 10px 15px;
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.hero-section-inner .swiper-slide::after {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 31.42%, #000);
  content: '';
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.hero-content-inner .swiper-slide img {
  height: 100% !important;
}

.hero-content-info {
  position: absolute;
  height: 100%;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  z-index: 1000;
}

.hero-content-info h1 {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  color: #fff;
  font-size: 48px;
  line-height: 54px;
  display: inline-block;
  margin-bottom: 10px;
}

.rest-info {
  padding-bottom: 25px;
  padding-top: 25px;
}

.price_claimed_type,
.status_time {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating {
  margin-bottom: 6px;
}

.fa-star,
.fa-star-half {
  color: #fff;
  font-size: 24px;
}

.total-reviews {
  font-family: 'Open Sansra', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  margin-left: 6px;
}

.fa-check-circle,
.claimed-text {
  font-weight: normal;
  font-size: 16px !important;
  line-height: 22px;
  font-weight: 600;
  color: rgba(10, 179, 201, 1);
  text-align: left;
}

.fa-exclamation-circle,
.unclaimed-text,
.type-info,
.is_open,
.is_closed,
.hours {
  font-weight: normal;
  line-height: 20px;
  font-size: 16px !important;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
  text-align: left;
}

.price-info {
  font-size: 16px !important;
  font-weight: 400;
  color: #fff;
  text-align: left;
  line-height: 22px;
  position: relative;
}

.price-info::before,
.price-info::after {
  content: '•';
  top: 0;
  left: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.is_open {
  color: rgba(5, 168, 130, 1) !important;
}

.is_closed {
  color: rgba(244, 57, 57, 1) !important;
}

.hours {
  margin-left: 10px;
}

.review-btn,
.favorite-btn {
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  height: 40px;
  margin: 0;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  position: relative;
  text-align: center;
  background-color: rgba(244, 57, 57, 1);
  color: rgba(255, 255, 255, 1);
}

.favorite-btn {
  background-color: transparent;
  border: 1px solid rgba(187, 186, 192, 1);
  color: rgba(43, 39, 60, 1);
  margin-left: 6px;
  text-align: center;
}

.favorite-btn:hover {
  color: rgba(43, 39, 60, 1);
}

.main-content-inner {
  margin-top: 60px;
}

.main-content-inner .container {
  width: 70% !important;
}

.action-buttons {
  display: flex;
  flex-direction: row;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2px;
  margin-left: 10px;
}

.single {
  margin-left: 5px;
}
