{% extends "base.j2"%}
{%block title%}Login - Local.{%endblock%}
{%block content%}
 <header class="primary-header">
    <div class="container d-center">
        <div class="brand">
            <a href="/">Local.</a>
        </div>
    </div>
</header>
<div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form
            if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>
        {% endfor %}

        <button type="submit">Submit</button>

    </form>
</div>
{%endblock%}