{% extends 'base.j2'%}
{%block title%}Register - Local.{%endblock%}
{%block content%}
<div class="container">
 <header class="primary-header d-center">
    <div class="brand">
        <a href="/">Local.</a>
    </div>
</header>
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form
        if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success" type="submit">Register</button>

    </form>
</div>
{%endblock%}