{% extends 'base.j2'%}
{%block title%}{{rest.name}} - Local.{%endblock%}
{%block content%}

<section class="hero-section-inner">
  <header class="primary-header">
    <div class="container d-center">
        <div class="brand">
            <a href="/">Local.</a>
        </div>
    </div>
</header>
    <div class="hero-content-inner">
      <div class="swiper-container mySwiper-Rest-Page">
        <div class="swiper-wrapper">
          {% for photo in rest['photos'] %}
            <div class="swiper-slide"><img src="{{photo}}"></div>
          {%endfor%}
        </div>
        <div class="container">
          <div class="hero-content-info">
            <div class="rest-info">
                <h1>{{rest.name}}</h1>
                    <div class="rating">
                        {% if rating.isInt == True %}
                            {% for checked in range(rating.number)%}
                            <i class="fa fa-star checked"></i>
                            {%endfor%}
                        {%elif rating.isInt == False %}
                            {% for checked in range(rating.number)%}
                                {% if loop.last %}
                                    <i class="fas fa-star-half"></i>
                                {%else%}
                                    <i class="fa fa-star checked"></i>
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                       <span class="total-reviews">{{rest.review_count}} Reviews</span>
                    </div>
                    <div class="price_claimed_type">
                        <div class="claimed">
                            {% if rest.is_claimed %}
                            <i class="fas fa-check-circle"></i>
                            <span class="claimed-text">Claimed</span>
                            {% else %}
                             <span class="unclaimed-text">Unclaimed</span>
                            <i class="fas fa-exclamation-circle"></i>
                            {%endif%}
                        </div>
                        <div class="price">
                            <span class="price-info">{{rest['price']}}</span>
                        </div>
                        <div class="type">
                            <span class="type-info">{{rest['categories'][0].title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="main-container">
    <div class="container">
        
    </div>
  </section>
{%endblock%}