{% extends 'base.j2'%}
{%block title%}{{user.first_name}} - Local.{%endblock%}
{%block content%}
{%include 'header.j2'%}

<section class="top-shelf"> 
    <div class="container">
        <div class="top-shelf-content">
            <div class="user-profile-image">
                <img class="user-image" src="https://prospectdirect.com/wpstagemct/wp-content/uploads/2017/05/generic-profile-photo-3.jpg" alt="profile-image">
            </div>
            <div class="user-profile-info">
                <h1>{{user.first_name}} {{user.last_name[0]}}.</h1>
                <h3 class="user-location">From {{user.location}}</h3>
                <ul class="user-stats">
                    <li class="review-count">Reviews: {{user.reviewed | length}}</li>
                    <li class="like-count">Likes: {{user.favorites | length}} </li>
                </ul>
            </div>
            <div class="user-profile-action">
                <ul>
                    <li><a href="/users/{{user.id}}/update">Update Your Profile</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="review_favorites">
    <div class="container">
        <div class="user-reviews">
            <div class="user-review-container">
                <div class="ftco-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2 class="heading-section mb-5">Your Reviews</h2>
                            </div>
                            <div class="col-md-12">
                               {% for review in user.reviewed %}
                                <div class="review-item">
                                    <div class="review_user">
                                        <div class="user_image">
                                            <img class="reviewer-image" src="https://prospectdirect.com/wpstagemct/wp-content/uploads/2017/05/generic-profile-photo-3.jpg">
                                        </div>
                                        <div class="review-content">
                                            <div class="reviewer-details">
                                                <span class="reviewer-name">{{review.users.first_name}} {{review.users.last_name}}</span>
                                                <span class="reviewer-location">{{review.users.location}}</span>
                                                <div class="reviewer-feed">
                                                    <i class="fas fa-comments"></i>
                                                    <span class="reviewer-total">{{user.reviewed | length}}</span>
                                                </div>
                                            </div>
                                            <div class="reviewer-rating">
                                                <div class="reviewer-stars">
                                                    {% for star in range(review.rating)%}
                                                        <i class="fa fa-star checked"></i>
                                                    {%endfor%}
                                                </div>
                                                <div class="created">
                                                    <span class="created-date">{{review.created}}</span>
                                                </div>
                                            </div>
                                            <div class="reviewer-comment">
                                                <span class="comment">"{{review.comment}}"</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="favorites">
            <div class="favorite-container">
                <div class="ftco-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2 class="heading-section mb-5">Your Favorites</h2>
                            </div>
                            <div class="col-md-12">
                                <div class="user-carousel owl-carousel">
                                    {% for fav in favorite%}
                                        <div class="item">
                                            <div class="work">
                                                <div class="img d-flex align-items-end justify-content-center" style="background-image: url('{{fav.image_url}}');">
                                                    <div class="text w-100">
                                                        <span class="cat">{{fav['category']}}</span>
                                                        <h3><a href="/restaurant/{{fav.restaurant_id}}">{{fav.name}}</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}