{% extends 'base.j2'%}
{%block title%}{{user.first_name}} - Local.{%endblock%}
{%block content%}
 <header class="primary-header">
    <div class="container d-center">
        <div class="brand">
            <a href="/">Local.</a>
        </div>
    </div>
</header>
<div class="container">

</div>
{%endblock%}